## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [0]:
%sql 
drop database if exists country_club cascade;
create database country_club;
show databases;

databaseName
country_club
default

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [0]:
# File location and type
file_location_bookings = "/FileStore/tables/Bookings.csv"
file_location_facilities = "/FileStore/tables/Facilities.csv"
file_location_members = "/FileStore/tables/Members.csv"

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [0]:
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [0]:
permanent_table_name_bookings = "country_club.Bookings"
bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)

permanent_table_name_facilities = "country_club.Facilities"
facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

permanent_table_name_members = "country_club.Members"
members_df.write.format("parquet").saveAsTable(permanent_table_name_members)

### Refresh tables and check them

In [0]:
%sql
use country_club;
REFRESH table bookings;
REFRESH table facilities;
REFRESH table members;
show tables;

database,tableName,isTemporary
country_club,bookings,false
country_club,facilities,false
country_club,members,false

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [0]:
%sql
select * from bookings limit 3

bookid,facid,memid,starttime,slots
0,3,1,2012-07-03 11:00:00,2
1,4,1,2012-07-03 08:00:00,2
2,6,0,2012-07-03 18:00:00,2

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [0]:
%sql
select distinct name from 
facilities 
where membercost > 0

name
Tennis Court 2
Squash Court
Tennis Court 1
Massage Room 1
Massage Room 2

####  Q2: How many facilities do not charge a fee to members?

In [0]:
%sql
select count(*) as number_of_facilities_not_charging from 
facilities
where membercost == 0

number_of_facilities_not_charging
4

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [0]:
%sql

select facid, name, membercost, monthlymaintenance  from facilities
where membercost>0 and membercost<(0.20*monthlymaintenance) ;

facid,name,membercost,monthlymaintenance
0,Tennis Court 1,5.0,200
1,Tennis Court 2,5.0,200
4,Massage Room 1,9.9,3000
5,Massage Room 2,9.9,3000
6,Squash Court,3.5,80

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [0]:
%sql
select * from facilities
where facid in (1,5) ;

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
1,Tennis Court 2,5.0,25.0,8000,200
5,Massage Room 2,9.9,80.0,4000,3000

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [0]:
%sql

select name, monthlymaintenance, 
case 
  when monthlymaintenance>100 
    then 'expensive' 
   else 'cheap' 
 end as facility_characteristic from facilities
order by monthlymaintenance desc
;

name,monthlymaintenance,facility_characteristic
Massage Room 1,3000,expensive
Massage Room 2,3000,expensive
Tennis Court 2,200,expensive
Tennis Court 1,200,expensive
Squash Court,80,cheap
Badminton Court,50,cheap
Snooker Table,15,cheap
Pool Table,15,cheap
Table Tennis,10,cheap

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [0]:
%sql

select firstname, surname, joindate from members 
where
joindate in (select max(joindate) from members)
;

firstname,surname,joindate
Darren,Smith,2012-09-26 18:08:45

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [0]:
%sql
select distinct f.name as court_name, concat(m.firstname, ' ', m.surname) as member_name
from members m 
  inner join bookings b 
    on m.memid = b.memid
  inner join facilities f
    on f.facid = b.facid
where f.name like '%Tennis Court%'
order by member_name asc;

court_name,member_name
Tennis Court 2,Anne Baker
Tennis Court 1,Anne Baker
Tennis Court 2,Burton Tracy
Tennis Court 1,Burton Tracy
Tennis Court 1,Charles Owen
Tennis Court 2,Charles Owen
Tennis Court 2,Darren Smith
Tennis Court 2,David Farrell
Tennis Court 1,David Farrell
Tennis Court 2,David Jones
Tennis Court 1,David Jones
Tennis Court 1,David Pinker
Tennis Court 1,Douglas Jones
Tennis Court 1,Erica Crumpet
Tennis Court 1,Florence Bader
Tennis Court 2,Florence Bader
Tennis Court 1,GUEST GUEST
Tennis Court 2,GUEST GUEST
Tennis Court 2,Gerald Butters
Tennis Court 1,Gerald Butters
Tennis Court 2,Henrietta Rumney
Tennis Court 1,Jack Smith
Tennis Court 2,Jack Smith
Tennis Court 2,Janice Joplette
Tennis Court 1,Janice Joplette
Tennis Court 2,Jemima Farrell
Tennis Court 1,Jemima Farrell
Tennis Court 1,Joan Coplin
Tennis Court 1,John Hunt
Tennis Court 2,John Hunt
Tennis Court 1,Matthew Genting
Tennis Court 2,Millicent Purview
Tennis Court 2,Nancy Dare
Tennis Court 1,Nancy Dare
Tennis Court 1,Ponder Stibbons
Tennis Court 2,Ponder Stibbons
Tennis Court 1,Ramnaresh Sarwin
Tennis Court 2,Ramnaresh Sarwin
Tennis Court 1,Tim Boothe
Tennis Court 2,Tim Boothe
Tennis Court 2,Tim Rownam
Tennis Court 1,Tim Rownam
Tennis Court 2,Timothy Baker
Tennis Court 1,Timothy Baker
Tennis Court 2,Tracy Smith
Tennis Court 1,Tracy Smith

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [0]:
%sql
select distinct f.name as facility_name, concat(m.firstname, ' ', m.surname) as member_name, 
case 
  when (b.slots * f.membercost >30)
    then b.slots * f.membercost
  else
    b.slots * f.guestcost
  end
  as cost
from members m 
  inner join bookings b 
    on m.memid = b.memid
  inner join facilities f
    on f.facid = b.facid
where 
b.starttime > '2012-09-14 00:00:00' and b.starttime < '2012-09-15 00:00:00'
and 
((b.slots * f.membercost >30) or (b.slots * f.guestcost>30)) 
order by cost desc;

facility_name,member_name,cost
Massage Room 1,Jack Smith,160.0
Massage Room 1,Matthew Genting,160.0
Massage Room 2,Florence Bader,160.0
Massage Room 1,Jemima Farrell,160.0
Massage Room 1,Burton Tracy,160.0
Massage Room 1,GUEST GUEST,160.0
Massage Room 1,Ponder Stibbons,160.0
Tennis Court 2,GUEST GUEST,150.0
Tennis Court 2,Tim Boothe,150.0
Tennis Court 2,David Jones,150.0
Tennis Court 1,GUEST GUEST,75.0
Tennis Court 1,David Pinker,75.0
Tennis Court 1,Douglas Jones,75.0
Tennis Court 2,GUEST GUEST,75.0
Tennis Court 1,Gerald Butters,75.0
Tennis Court 1,Burton Tracy,75.0
Tennis Court 1,Tim Rownam,75.0
Squash Court,GUEST GUEST,70.0
Badminton Court,Ponder Stibbons,46.5
Badminton Court,Gerald Butters,46.5
Badminton Court,Anna Mackenzie,46.5
Badminton Court,Darren Smith,46.5
Massage Room 1,Jemima Farrell,39.6
Massage Room 2,GUEST GUEST,39.6
Squash Court,Anne Baker,35.0
Squash Court,Timothy Baker,35.0
Squash Court,GUEST GUEST,35.0
Squash Court,David Pinker,35.0

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [0]:
%sql
-- the subquery
with 
bookings_at_date as
(
select distinct b.memid as memid, f.name as facility_name, 
case 
  when (b.slots * f.membercost >30)
    then b.slots * f.membercost
  else
    b.slots * f.guestcost
  end
  as cost
from  bookings b
  inner join facilities f
    on f.facid = b.facid
where 
b.starttime > '2012-09-14 00:00:00' and b.starttime < '2012-09-15 00:00:00'
and 
((b.slots * f.membercost >30) or (b.slots * f.guestcost>30))
)
-- the "query"
select bd.facility_name, concat(m.firstname, ' ', m.surname) as member_name, bd.cost
from 
bookings_at_date bd inner join members m
on bd.memid = m.memid
order by cost desc;

facility_name,member_name,cost
Massage Room 1,Jemima Farrell,160.0
Massage Room 1,Jack Smith,160.0
Massage Room 1,Burton Tracy,160.0
Massage Room 1,Ponder Stibbons,160.0
Massage Room 1,Matthew Genting,160.0
Massage Room 1,GUEST GUEST,160.0
Massage Room 2,Florence Bader,160.0
Tennis Court 2,GUEST GUEST,150.0
Tennis Court 2,David Jones,150.0
Tennis Court 2,Tim Boothe,150.0
Tennis Court 1,Douglas Jones,75.0
Tennis Court 1,David Pinker,75.0
Tennis Court 1,GUEST GUEST,75.0
Tennis Court 1,Tim Rownam,75.0
Tennis Court 1,Gerald Butters,75.0
Tennis Court 1,Burton Tracy,75.0
Tennis Court 2,GUEST GUEST,75.0
Squash Court,GUEST GUEST,70.0
Badminton Court,Anna Mackenzie,46.5
Badminton Court,Gerald Butters,46.5
Badminton Court,Darren Smith,46.5
Badminton Court,Ponder Stibbons,46.5
Massage Room 2,GUEST GUEST,39.6
Massage Room 1,Jemima Farrell,39.6
Squash Court,Timothy Baker,35.0
Squash Court,David Pinker,35.0
Squash Court,Anne Baker,35.0
Squash Court,GUEST GUEST,35.0

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [0]:
%sql
with 
revenue_per_booking as
(
select f.name as facility_name, f.facid,
case 
  when b.memid ==0 
    then b.slots*f.guestcost
  else b.slots*f.membercost
end as revenue
from  bookings b
  inner join facilities f
    on f.facid = b.facid
)
select rb.facility_name, sum(rb.revenue) as revenue_per_facility
from revenue_per_booking rb
group by rb.facility_name, rb.revenue
having revenue_per_facility <1000
order by revenue_per_facility desc;

facility_name,revenue_per_facility
Massage Room 2,960.0
Massage Room 1,831.6000000000003
Tennis Court 2,675.0
Squash Court,560.0
Massage Room 2,534.6000000000001
Tennis Court 2,480.0
Tennis Court 1,450.0
Tennis Court 1,300.0
Tennis Court 1,270.0
Pool Table,260.0
Squash Court,245.0
Snooker Table,220.0
Badminton Court,186.0
Table Tennis,180.0
Squash Court,168.0
Tennis Court 1,45.0
Tennis Court 2,45.0
Squash Court,21.0
Snooker Table,20.0
Pool Table,10.0
Badminton Court,0.0
Table Tennis,0.0
Snooker Table,0.0
Pool Table,0.0