# Vectorized String Operations
Credits  
https://www.oreilly.com/library/view/python-data-science/9781491912126/

In [1]:
import pandas as pd
import numpy as np

In [2]:
a = np.array([1,2,3,4,5,6])
print(a*2)

[ 2  4  6  8 10 12]

In [3]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[i.capitalize() for i in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [4]:
names = pd.Series(data)
names

0    peter
1     Paul
2     MARY
3    gUIDO
dtype: object

In [6]:
names.str.capitalize()

0    Peter
1     Paul
2     Mary
3    Guido
dtype: object

In [17]:
monte = pd.Series(['Graham Chapklflkdfkldfdfmanff', 'regegJohn Clewewese', 'Terry Gilliamrtggr',
                   'Eric Idlde', 'Terry Jonesrggsrg', 'Michael Palingaareggrg'])
monte.str.lower()

0    graham chapklflkdfkldfdfmanff
1              regegjohn clewewese
2               terry gilliamrtggr
3                       eric idlde
4                terry jonesrggsrg
5           michael palingaareggrg
dtype: object

In [18]:
monte.str.len()

0    29
1    19
2    18
3    10
4    17
5    22
dtype: int64

In [22]:
df_1 = pd.DataFrame(monte.str.lower(),monte.str.len())
df_1
x1 = pd.Series(monte)
x1

0    Graham Chapklflkdfkldfdfmanff
1              regegJohn Clewewese
2               Terry Gilliamrtggr
3                       Eric Idlde
4                Terry Jonesrggsrg
5           Michael Palingaareggrg
dtype: object

In [27]:
print(monte)
monte.str.startswith('T')

0    Graham Chapklflkdfkldfdfmanff
1              regegJohn Clewewese
2               Terry Gilliamrtggr
3                       Eric Idlde
4                Terry Jonesrggsrg
5           Michael Palingaareggrg
dtype: object

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [28]:
monte.str.split()

0    [Graham, Chapklflkdfkldfdfmanff]
1              [regegJohn, Clewewese]
2               [Terry, Gilliamrtggr]
3                       [Eric, Idlde]
4                [Terry, Jonesrggsrg]
5           [Michael, Palingaareggrg]
dtype: object

In [29]:
monte.str.extract('([A-Za-z]+)', expand=False)

0       Graham
1    regegJohn
2        Terry
3         Eric
4        Terry
5      Michael
dtype: object

In [31]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapklflkdfkldfdfmanff]
1                                 []
2               [Terry Gilliamrtggr]
3                                 []
4                [Terry Jonesrggsrg]
5           [Michael Palingaareggrg]
dtype: object

In [34]:
monte.str[0:3]

0    Gra
1    reg
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [35]:
monte

0    Graham Chapklflkdfkldfdfmanff
1              regegJohn Clewewese
2               Terry Gilliamrtggr
3                       Eric Idlde
4                Terry Jonesrggsrg
5           Michael Palingaareggrg
dtype: object

In [36]:
full_monte = pd.DataFrame({'name': monte,
                           'info': ['B|C|D', 'B|D', 'A|C',
                                    'B|D', 'B|C', 'B|C|D']})
full_monte

                            name   info
0  Graham Chapklflkdfkldfdfmanff  B|C|D
1            regegJohn Clewewese    B|D
2             Terry Gilliamrtggr    A|C
3                     Eric Idlde    B|D
4              Terry Jonesrggsrg    B|C
5         Michael Palingaareggrg  B|C|D

In [37]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1