#  Scaling and Normalization Exercises   
Credits:  
https://www.kaggle.com/braindeadcoder/lending-club-data   
https://pub.towardsai.net/how-when-and-why-should-you-normalize-standardize-rescale-your-data-3f083def38ff

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# the data
cols = ['loan_amnt', 'int_rate', 'installment']
data = pd.read_csv('/Users/dantohe/Development/Projects/Springboard/datasets/lending_club/accepted_2007_to_2018q4.csv/accepted_2007_to_2018Q4.csv', nrows = 30000, usecols = cols)

In [6]:
data.head

<bound method NDFrame.head of        loan_amnt  int_rate  installment
0         3600.0     13.99       123.03
1        24700.0     11.99       820.28
2        20000.0     10.78       432.66
3        35000.0     14.85       829.90
4        10400.0     22.45       289.91
...          ...       ...          ...
29995     9600.0      8.38       302.52
29996     9600.0     11.22       315.30
29997     5000.0     13.18       168.91
29998     8000.0      9.76       257.24
29999    25000.0     13.67       577.44

[30000 rows x 3 columns]>

In [7]:
data.describe()

          loan_amnt      int_rate   installment
count  30000.000000  30000.000000  30000.000000
mean   15000.651667     12.242581    434.344285
std     8709.706176      4.209334    248.655252
min     1000.000000      5.320000     30.540000
25%     8000.000000      9.170000    255.030000
50%    13950.000000     11.990000    378.150000
75%    20000.000000     14.480000    574.727500
max    35000.000000     28.990000   1354.660000

## Standardization (Standard Scalar)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
data_scaled = scaler.fit_transform(data)

In [10]:
print(data_scaled.mean(axis=0))
print(data_scaled.std(axis=0))

[ 1.23160741e-17  3.27323354e-16 -5.11590770e-17]
[1. 1. 1.]

In [11]:
print('Min values (Loan Amount, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max values (Loan Amount, Int rate and Installment): ', data_scaled.max(axis=0))

Min values (Loan Amount, Int rate and Installment):  [-1.60750371 -1.64460636 -1.62397944]
Max values (Loan Amount, Int rate and Installment):  [2.29625217 3.97870534 3.70123312]

## Normalization (Min-Max Scalar)

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
data_scaled = scaler.fit_transform(data)

In [14]:
print('means (Loan Amount, Int rate and Installment): ', data_scaled.mean(axis=0))
print('std (Loan Amount, Int rate and Installment): ', data_scaled.std(axis=0))

means (Loan Amount, Int rate and Installment):  [0.41178387 0.29246224 0.30496049]
std (Loan Amount, Int rate and Installment):  [0.25616356 0.17783115 0.18778593]

In [15]:
print('Min (Loan Amount, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max (Loan Amount, Int rate and Installment): ', data_scaled.max(axis=0))

Min (Loan Amount, Int rate and Installment):  [0. 0. 0.]
Max (Loan Amount, Int rate and Installment):  [1. 1. 1.]

## Robust Scalar (Scaling to median and quantiles)

In [16]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler() 
data_scaled = scaler.fit_transform(data)

In [17]:
print('means (Loan Amount, Int rate and Installment): ', data_scaled.mean(axis=0))
print('std (Loan Amount, Int rate and Installment): ', data_scaled.std(axis=0))

means (Loan Amount, Int rate and Installment):  [0.08755431 0.04756711 0.1757733 ]
std (Loan Amount, Int rate and Installment):  [0.72579675 0.79270497 0.77776995]

In [18]:
print('Min (Loan Amount, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max (Loan Amount, Int rate and Installment): ', data_scaled.max(axis=0))

Min (Loan Amount, Int rate and Installment):  [-1.07916667 -1.25612053 -1.0873091 ]
Max (Loan Amount, Int rate and Installment):  [1.75416667 3.20150659 3.05448119]